/.yardoc/
.bundle/
log/*.log
pkg/
/cache/
/coverage/
/doc/
*.gem

# Ignore HTML-Reports
test/html_reports/

# Ignore Robocop Output / Todo
/.rubocop_todo.yml
/rubocop/

# Ignore Rubycritic output
/rubycritic/
